@import url("photographer.css");

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}

* {
    box-sizing: border-box;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 92px;
}

h1 {
    color: #901C1C;
    margin-right: 100px;
}

ul, li {
    padding: 0;
}

.logo {
    height: 50px;
    margin-left: 100px;
    margin-top: 15px;
}

/* Zone photographes de la page d'accueil */

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 192px;
}

.photographer_section article {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.photographer_section article h2 {
    color: #D3573C;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 47px;
    margin-bottom: 0px;
    text-align: center;
}

.photographer_section article a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.photographer_section article img {
    height: 200px;
    width: 200px;
    background: #C4C4C4;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
    image-rendering: auto;
    transition: transform .3s linear;
}

/* effet de zoom sur l'image du photographe au survol de la souris */
.photographer_section article img:hover, .photographer_section article img:focus {
    box-shadow: 0px 4px 12px rgba(211, 87, 60, 0.6);
    transform: scale(1.1);
}

.photographer_section article .details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.photographer_section article .home {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    color: #901C1C;
    margin-bottom: 3px;
}

.photographer_section article .tag {
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 13px;
    color: black;
    margin-bottom: 3px;
}

.photographer_section article .rate {
    font-style: normal;
    font-weight: 400;
    font-size: 9px;
    line-height: 12px;
    color: #757575
}
