{
  "env": {
    "browser": true,
    "es2021": true
  },
  // "extends": "eslint:recommended",
  "extends": ["prettier"],
  "plugins": ["prettier"],
  "overrides": [],
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "script"
  },
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
        "indent": ["error", "space"],
        "tabWidth": 2,
        "printWidth": 120,
        "semi": false,
        "trailingComma": "es5"
      }
    ]
  }
}
